﻿@model RyanJMcGowan.ViewModels.AuthorsViewModel

@{
    ViewBag.Title = "CreateAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Author</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AuthorsViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TwitterCallsign)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TwitterCallsign)
            @Html.ValidationMessageFor(model => model.TwitterCallsign)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
