﻿@model RyanJMcGowan.ViewModels.EditPostModel

@{
    ViewBag.Title = "Post Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EditPostModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subheading)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subheading)
            @Html.ValidationMessageFor(model => model.Subheading)
        </div>

        <div class="editor-label">
            <label>Feature Image</label>
        </div>
        <div class="editor-field">
            <input type="file" name="feature-image" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            <textarea id="Content" name="Content">@Html.ValueFor(model => model.Content)</textarea>
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVisible)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsVisible)
            @Html.ValidationMessageFor(model => model.IsVisible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublishDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublishDate)
            @Html.ValidationMessageFor(model => model.PublishDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
        <p class="error">@ViewBag.Error</p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Admin", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ckeditor")
    <script>
        CKEDITOR.replace('Content');
    </script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script>
        $("#PublishDate").datepicker({});
        $("#PublishDate").datepicker.formatDate("yy-mm-dd");
    </script>
}

@section styles {
    <link href="~/Content/jq/smoothness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
}
