﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Console</h2>
<ul>
    <li>@Html.ActionLink("Manage Posts","ManagePosts")</li>
    <li>@Html.ActionLink("Manage Authors","ManageAuthors")</li>
    <li>@Html.ActionLink("Manage Comments","ManageComments")</li>
</ul>