﻿@model IEnumerable<BlogCore.Entities.Post>

@{
    ViewBag.Title = "ManagePosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManagePosts</h2>

<p>
    @Html.ActionLink("Create New", "EditPost")
</p>
<p>
   @Html.ValidationSummary(true)
</p>
<table style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsVisible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subheading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsVisible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subheading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPost", new { id=item.ID }) |
            @Html.ActionLink("Preview", "Preview", new { id=item.ID })
        </td>
    </tr>
}

</table>
