﻿@model IEnumerable<RyanJMcGowan.ViewModels.AuthorsViewModel>

@{
    ViewBag.Title = "Manage Authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Authors</h2>

<p>
    @Html.ActionLink("Create New", "CreateAuthor")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Posts
        </th>
        <th>
            Email Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emails.GetPrimary().EmailAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAuthor", new { id = item.ID }) |
            @Html.ActionLink("Details", "DetailAuthor", new { name=item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { name=item.Name })
        </td>
    </tr>
}

</table>
