﻿@{
    ViewBag.Title = "Ryan J. McGowan.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>To inquire about services, please @Html.ActionLink("contact me", "Contact", "Home").</h2>
</hgroup>
<article>
    <h2>Software Technology</h2>
    <ul>
        <li>C# .Net Application Development</li>
        <li>ASP.Net MVC Web Development</li>
        <li>Artificial Intelligence</li>
        <li>HTML 5</li>
    </ul>
    <h2>Architectural Technology</h2>
    <ul>
        <li>Architectural Drafting</li>
        <li>Civil Drafting</li>
        <li>Photogrammetric Building Surveying</li>
        <li>Construction Project Management</li>
        <li>Architectural Illustrations</li>
    </ul>
</article>
<aside>
    <h3>Check back!</h3>
    <p>
        Soon, I'll post what we are working on here. Check back soon!
    </p>
</aside>