﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>760 245 4493</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>On the Web</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:ryan@ryanjmcgowan.com">Ryan@RyanJMcGowan.com</a></span>
    </p>
    <p>
        <span class="label">Facebook:</span>
        <span><a href="www.facebook.com/ryan.mcgowan.9638">Ryan McGowan</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        P.O. Box 596<br />
        Helendale, CA 92342-0596
    </p>
</section>