﻿@{
    ViewBag.Title = "Ryan J. McGowan";
}
@section featured {
    @{/*
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <article>
            <header>
                <h1>Sample Heading</h1>
            </header>

            <p>Some sample text.</p>
        </article>
    </div>*/}    
    }
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        @(DateTime.Now.Year - 2001) years of architectural experience, I went from designing reality to designing the technology that will augment reality in the future.
    </p>
    <img src="~/Content/cahuenga2.jpg" />
</article>